@import url("./syntax.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #121212;
  font-family: "Fira Sans", sans-serif;
}

code {
  font-family: "Inconsolata", monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
  padding: 3em 0;
}

.header img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.header h1 {
  margin-top: 2rem;
}

.header h2 {
  color: #aaa;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.social {
  display: flex;
  margin-top: 2rem;
}

.social a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 0 0.875rem;
}

.social a:hover {
  color: #fff;
}

.content {
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
img {
  margin-top: 2rem;
}

pre,
p,
ul,
ol {
  margin-top: 1rem;
  overflow-wrap: break-word;
}

li {
  margin: 0.5rem 0;
}

a {
  color: #a78bfa;
  text-decoration: none;
}

a:hover {
  color: #c4b5fd;
}

p,
ul {
  color: #aaa;
  line-height: 1.5;
}

pre {
  padding: 1rem;
  font-size: 0.875rem;
  background: #181818;
  overflow: auto;
}

code {
  color: #ccc;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

blockquote {
  background: #202020;
  border-left: 2px solid #666;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

blockquote p {
  margin: 0;
}

.post {
  background: #181818;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.post h1 {
  margin: 0;
  font-size: 1.625rem;
}

.post h2 {
  color: #aaa;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}
